<div id="makeFixedRow">
<%include navBar.ejs%> 


<section class="main-content" id="introText">
    <h2 class="hidden">Main Container</h2>
    <h2 class="hidden">Main Container</h2>
    <section class="main-detail">
        <!-- Title content -->
        <div>
            <h2 class="hidden">Main Header</h2>
            <div class="back-button">
                <a href="/ldc-viz-map">
                    <p>Back</p>
                </a>
            </div>
            <!-- headings -->
            <div>
                <h3>London Digital</h3>
                <!-- background behind the project -->
                <p class="introduction-paragraph">There is an extensive degree of technologies 
                    and a diversity of job titles in the industry. 
                   
                 </p>
                 
                 <p class="introduction-paragraph">This network graph produces a 
                    snapshot of the scope of technologies in use by Fanshawe alumni 
                    and industry companies within London.</p>
                    
                <p class="introduction-paragraph">Upon exploration, you will uncover how 
                technologies cluster together with different 
                industry roles and titles.</p>


                <div class="nav-button" id="open-form">
                    <p>Add your details</p>
                </div>
            </div>
        </div>
    </section>
</section>

<%include forms.ejs%>

</div>

