<div id="makeFixedRow">
<%include navBar.ejs%>

<section class="main-content" id="introText">
    <h2 class="hidden">Main Container</h2>
    <h2 class="hidden">Main Container</h2>
    <section class="main-detail">
        <!-- Title content -->
        <div>
            <br><br>
            <h2 class="hidden">Main Header</h2>
            <!-- headings -->
            <div>
                <h3>London Digital</h3>
                <!-- background behind the project -->
                <p class="introduction-paragraph">London Ontario is home to some of the most substantial digital creative companies in Canada.
                </p>

                <p class="introduction-paragraph">A vast portion of London's talent in this industry is cultivated through graduates 
                    of Fanshawe's digital creative programs. 
                    This makes London an attractive hub for tech companies. 
                </p>

                <p class="introduction-paragraph">This app is built to visualize and explore the impact 
                    of Fanshawe alumni as they are integrated in the digital creative community.</p>

                <div id="fly-in" class="nav-button">
                    <p>London</p>
                </div>

                <a href="/ldc-viz-network">
                    <div class="nav-button">
                        <p>The technology web</p>
                    </div>
                </a>

                <div class="nav-button" id="open-form">
                    <p>Add your details</p>
                </div>
            </div>
        </div>
    </section>
</section>

<%include forms.ejs%>

</div>

