<div id="makeFixedRow">
<%include navBar.ejs%>

<section class="main-content">
    <h2 class="hidden">Main Container</h2>
    <h2 class="hidden">Main Container</h2>
    <section class="main-detail">
        <!-- Title content -->
        <div>
            <br><br>
            <h2 class="hidden">Main Header</h2>
            <!-- headings -->
            <div>
                <h3>London Digital</h3>
                <!-- background behind the project -->
                <p class="introduction-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore,
                    delectus quibusdam unde distinctio soluta modi omnis reprehenderit repellat, atque doloremque
                    consequatur nostrum molestias, nobis quod fuga obcaecati beatae mollitia cumque?</p>

                <p class="introduction-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore,
                    delectus quibusdam unde distinctio</p>


                <a href="/ldc-viz-network">
                    <div class="nav-button">
                        <p>Discover</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</section>
</div>