<div id="makeFixedRow">
<%include navBar.ejs%>

<section class="main-content">
    <h2 class="hidden">Main Container</h2>
    <h2 class="hidden">Main Container</h2>
    <section class="main-detail">
        <!-- Title content -->
        <div>
            <br><br>
            <h2 class="hidden">Main Header</h2>
            <!-- headings -->
            <div>
                <h3>London Digital</h3>
                <!-- background behind the project -->
                <p class="introduction-paragraph">London Ontario is home to some of the most substantial digital creative companies in Canada.
                </p>

                <p class="introduction-paragraph">A vast portion of London's talent in this industry is cultivated through graduates of Fanshawe's digital creative programs. 
                    and this makes London an attractive hub for tech companies. 
                </p>

                <p class="introduction-paragraph">There is an extensive diversity of technologies and jobs identified in the industry. 
                   This app is built to visualize the impact of Fanshawe alumni who are integrated in the digital creative community.
                </p>


                <a href="/ldc-viz-network">
                    <div class="nav-button">
                        <p>See the connections</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</section>
</div>