
    <section class="force_graph_heading">
        <h2>Web-based Industrial Flow.</h2>

    </section>

    <section class="force_graph_info">
        <p>Here we have created a force graph that shows the connection<br>and workflow of the whole web-based industry.
        </p>
        <p> web industry is mainly divided into several parts. Design,<br>Front-End Development, Back-End Development
            and Full-Stack
            <br>Development.</p>
        <p>
            The design includes Web-Designing and UI-UX Designing.
        </p>

        <p>
            Front-End Development includes HTML, CSS, and javascript <br>which helps to create the website user
            interface.
        </p>
        <p>
            Back-End Development includes all database related stuff. Where<br>the website gets a request from the user
            and it responds back accordingly.
        </p>
        <p>
            Full-Stack Developer is someone who is capable of managing everything at once.
        </p>
    </section>

    <section class="force_graph">
        <h2 class="hidden">Force Graph</h2>
        <script src="/js/script.js"></script>
    </section>
