<section class="navigation">
    <div class="fanshawe-logo">
        <a href="/"><img src="images/fanshawe-logo-icon.png" alt="fanshawe-icon"></a>
    </div>
    <!-- icon library -->
    <section class="icons-library">
        <a href="/">
            <div>
                <img src="images/icon-home.svg" alt="home icon">
            </div>
        </a>
        
        <a href="/ldc-viz-map">
            <div>        
                <img src="images/icon-creative.svg" alt="creative indsutry icon">  
            </div>
        </a>
        
        <a href="/covid-19-project">
            <div>
                <img src="images/icon-covid.svg" alt="covid-19 icon">
            </div>
        </a>
    </section>

</section>