<section class="main-content">
    <h2 class="hidden">Main Container</h2>

    <!--<div class="indicator-dots">
        <div></div>
        <div></div>
        <div></div>
    </div>-->
    <section class="main-detail">
        <!-- Title content -->
        <!-- <h1><%= title %></h1> -->
        <h2 class="hidden">Main Header</h2>
        <div class="back-button">
          <a href="/ldc-viz-map">
              <p>Back</p>
          </a>
      </div>
        <div> 
          <h3>London Digital</h3>
          <!-- <span>Creative Industry</span> -->
          <!-- background behind the project -->
          <p>Application Form</p>

          <section id="individual-form-div">
            <h2 class="hidden">Individual form</h2>
            <form>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname"><br>

                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname"><br>

                <label for="previous-school">Previous school:</label><br>
                <input type="text" id="school" name="school"><br>

                <label for="grad-year">Graduation year:</label><br>
                <input type="text" id="grad" name="grad"><br>

                <label for="job-title">Job title:</label><br>
                <input type="text" id="job-title" name="job-title"><br>

                <label for="company">Company:</label><br>
                <input type="text" id="company" name="company"><br>
                
                <label class="techTitle">Frameworks:</label>
                <div id="checklists">

                <label for="framework1">Magento</label>
                <input class="checkbox" type="checkbox" name="php" value="PHP">

                <label for="framework2">Drupal</label>
                <input class="checkbox" type="checkbox" name="drupal" value="Drupal">

                <label for="framework3">Wordpress</label>
                <input class="checkbox" type="checkbox" name="wordpress" value="Wordpress" checked>

                
                </div>

                <label class="techTitle">Front-end technologies:</label>
                <div id="checklists">

                <label for="fontend1">Javascript</label>
                <input class="checkbox" type="checkbox" name="php" value="PHP">

                <label for="frontend2">HTML</label>
                <input class="checkbox" type="checkbox" name="drupal" value="Drupal">

                <label for="frontend3">CSS</label>
                <input class="checkbox" type="checkbox" name="wordpress" value="Wordpress" checked>

                <label for="frontend3">Angular.js</label>
                <input class="checkbox" type="checkbox" name="wordpress" value="Wordpress" checked>

                </div>

                <label class="techTitle">Back-end technologies:</label>
                <div id="checklists">

                <label for="backend1">PHP</label>
                <input class="checkbox" type="checkbox" name="php" value="PHP">

                <label for="backend2">Python</label>
                <input class="checkbox" type="checkbox" name="drupal" value="Drupal">

                <label for="backend3">Java</label>
                <input class="checkbox" type="checkbox" name="wordpress" value="Wordpress" checked>

                <label for="backend3">Node.js</label>
                <input class="checkbox" type="checkbox" name="wordpress" value="Wordpress" checked>

                </div>

                <input id="submit-button" type="submit" value="Submit">

              </form> 
          </section>

          <section id="organization-form-div">
              <h2 class="hidden">Organization form</h2>
              <form>
                <label for="cname">Company name:</label><br>
                <input type="text" id="fname" name="fname"><br>

                <label for="csummary">Company summary:</label><br>
                <input type="text" id="csummary" name="csummary"><br>

                <label for="est-date">Establishment date:</label><br>
                <input type="text" id="est-date" name="est-date"><br>

                <label for="ind-sector">Industry Sector:</label><br>
                <input type="text" id="ind-sector" name="ind-sector"><br>

              
               
                <label class="techTitle">Frameworks:</label>
                <div id="checklists">

                <label for="framework1">Magento</label>
                <input class="checkbox" type="checkbox" name="php" value="PHP">

                <label for="framework2">Drupal</label>
                <input class="checkbox" type="checkbox" name="drupal" value="Drupal">

                <label for="framework3">Wordpress</label>
                <input class="checkbox" type="checkbox" name="wordpress" value="Wordpress" checked>

                
                </div>

                <label class="techTitle">Front-end technologies:</label>
                <div id="checklists">

                <label for="fontend1">Javascript</label>
                <input class="checkbox" type="checkbox" name="php" value="PHP">

                <label for="frontend2">HTML</label>
                <input class="checkbox" type="checkbox" name="drupal" value="Drupal">

                <label for="frontend3">CSS</label>
                <input class="checkbox" type="checkbox" name="wordpress" value="Wordpress" checked>

                <label for="frontend3">Angular.js</label>
                <input class="checkbox" type="checkbox" name="wordpress" value="Wordpress" checked>

                </div>

                <label class="techTitle">Back-end technologies:</label>
                <div id="checklists">

                <label for="backend1">PHP</label>
                <input class="checkbox" type="checkbox" name="php" value="PHP">

                <label for="backend2">Python</label>
                <input class="checkbox" type="checkbox" name="drupal" value="Drupal">

                <label for="backend3">Java</label>
                <input class="checkbox" type="checkbox" name="wordpress" value="Wordpress" checked>

                <label for="backend3">Node.js</label>
                <input class="checkbox" type="checkbox" name="wordpress" value="Wordpress" checked>

                </div>
                <input id="submit-button" type="submit" value="Submit">
              </form> 
              
          </section>
           
            <div id="form-type">
                <div class="form-button" id="individual-form-btn">Individual</div>
                <div class="form-button" id="organization-form-btn">Organization</div>
            </div>

          </div>
      </section>

</section>

<script>
    var individualBtn = document.getElementById("individual-form-btn"),
        organizationBtn = document.getElementById("organization-form-btn");

    showIndvForm = document.getElementById("individual-form-div");
    showOrgForm = document.getElementById("organization-form-div");

    individualBtn.addEventListener("click", function () {
        organizationBtn.style.backgroundColor = 'rgb(188, 228, 255)'
        individualBtn.style.backgroundColor = 'rgb(14, 124, 187)'
        showIndvForm.style.visibility = 'visible';
        showOrgForm.style.visibility = 'hidden';
    }, false);

    organizationBtn.addEventListener("click", function () {
        individualBtn.style.backgroundColor = 'rgb(188, 228, 255)'
        organizationBtn.style.backgroundColor = 'rgb(14, 124, 187)'
        showIndvForm.style.visibility = 'hidden';
        showOrgForm.style.visibility = 'visible';
    }, false);
</script>