<section class="main-content">
    <h2 class="hidden">Main Container</h2>
    <!-- dots -->
    <div class="indicator-dots">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <section class="main-detail">
        <!-- Title content -->
        <div>
            <!-- <h1><%= title %></h1> -->
            <div class="logo">
                <img src="images/data-viz-fanshawe-logo.svg" alt="Fanshawe College Logo">

            </div>
            <h2 class="hidden">Main Header</h2>
            <!-- headings -->
            <div>
                <!-- <h2>Interactive Media Development 3D Visualization</h2> -->
                <h3>London Digital Creative</h3>
                <!-- background behind the project -->
                <p class="introduction-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, delectus quibusdam unde distinctio soluta modi omnis reprehenderit repellat, atque doloremque consequatur nostrum molestias, nobis quod fuga obcaecati beatae mollitia cumque?</p>

                <p class="introduction-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, delectus quibusdam unde distinctio</p>


                <a href="/network">
                    <div class="nav-button">
                        <p>Explore the data</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</section>