<section class="main-content">
	<h2 class="hidden">Main Container</h2>
	<section class="main-detail">
		<!-- Title content -->
		<!-- <h1><%= title %></h1> -->
		<div class="logo">
			<img src="images/fanshawe-logo.png" alt="Fanshawe College Logo">
			<span>Interactive Media Development
				3D Visualization</span>
		</div>
		<h2 class="hidden">Main Header</h2>
		<div>
			<h3>London Digital Creative Industry</h3>
			<!-- background behind the project -->
			<p class="introduction-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, delectus quibusdam unde distinctio
				soluta modi omnis reprehenderit repellat, atque doloremque consequatur nostrum molestias, nobis quod
				fuga obcaecati beatae mollitia cumque?</p>


			<a href="/network">
				<div class="nav-button">
					<p>Explore the data</p>
				</div>
			</a>
		</div>
	</section>
</section>