<section class="navigation">
    <div class="fanshawe-logo">
        <a href="/"><img src="images/fanshawe-logo-icon.png" alt="fanshawe-icon"></a>
    </div>
    <!-- icon library -->
    <section class="icons-library">
        <div>
            <img src="images/icon-home.svg" alt="home icon">
        </div>
        <div>
            <img src="images/icon-creative.svg" alt="creative indsutry icon">
        </div>
        <div>
            <img src="images/icon-covid.svg" alt="covid-19 icon">
        </div>
    </section>
<!-- opening intro -->
</section>
<section class="main-content">
    <h2 class="hidden">Main Container</h2>
    <h2 class="hidden">Main Container</h2>
    <section class="main-detail">
        <!-- Title content -->
        <div>
            <!-- <h1><%= title %></h1> -->

            <h2 class="hidden">Main Header</h2>
            <!-- headings -->
            <div>
                <!-- <h2>Interactive Media Development 3D Visualization</h2> -->
                <h3>London Digital Creative</h3>
                <!-- background behind the project -->
                <p class="introduction-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore,
                    delectus quibusdam unde distinctio soluta modi omnis reprehenderit repellat, atque doloremque
                    consequatur nostrum molestias, nobis quod fuga obcaecati beatae mollitia cumque?</p>

                <p class="introduction-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore,
                    delectus quibusdam unde distinctio</p>


                <a href="/ldc-viz-network">
                    <div class="nav-button">
                        <p>Explore the data</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</section>