<!DOCTYPE html>
<html>
    <head>
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>

      <main class="landing-parent">
     
      <%include partials/sidebar.ejs%> 
      
        <section class="map-content">
          <h2 class="hidden">Map Render</h2>
          <!-- Map code here -->
        </section>

      </main>
    </body>

</html>

