<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link
    href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"
    rel="stylesheet">
</head>

<body>
  <main class="landing-parent">

    <%include partials/ldc-sidebar-form.ejs%>

    <section class="network-content">
      <h2 class="hidden">Force network Render</h2>
      <!-- Map code here -->
    </section>

  </main>
</body>

</html>