<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
</head>

<body>
  <main class="landing-parent">

    <%include partials/sidebar-form.ejs%> 
      
        <section class="network-content">
          <h2 class="hidden">Force network Render</h2>
          <!-- Map code here -->
        </section>

      </main>
</body>

</html>