
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link
  href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"
  rel="stylesheet">
  <title>Wind Turbines</title>
</head>

<body>

  <main class="landing-parent">

<div id="makeFixedRow">

    <%include partials/navBar.ejs%>

    <!-- quick fix to make the navBar smaller-->
    

    <section class="main-content">
    <h2 class="hidden">Main Container</h2>
    <h2 class="hidden">Main Container</h2>
    <section class="main-detail">
        <!-- Title content -->
        <div>
            <br><br>
            <h2 class="hidden">Main Header</h2>
            <!-- headings -->
            <div>
                <h3>Wind Turbines</h3>
                <!-- background behind the project -->
                <p class="introduction-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore,
                    delectus quibusdam unde distinctio soluta modi omnis reprehenderit repellat, atque doloremque
                    consequatur nostrum molestias, nobis quod fuga obcaecati beatae mollitia cumque?</p>

                <p class="introduction-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore,
                    delectus quibusdam unde distinctio</p>

            </div>
        </div>
    </section>
</section>
</div>

    <section class="projects-content">
      <h2 class="hidden">Projects</h2>

      <div class="projectDiv">
        <a href="/wind-turbines">
          <div class="project-img">
          </div>
        </a>

        <h3>Hywind Turbine</h3>
        <p>sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut dolor sit amet.</p>
      </div>

      <div class="projectDiv">

        <a href="/wind-turbines">
          <div class="project-img">
            
          </div>
        </a>

        <h3>The wind turbine and its history</h3>
        <p>sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut dolor sit amet.</p>
      </div>


      <div class="projectDiv">
        <a href="/wind-turbines">
          <div class="project-img">
          </div>
        </a>

        <h3>Cindy</h3>
        <p>sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut dolor sit amet.</p>
      </div>

      <div class="projectDiv">

        <a href="/wind-turbines">
          <div class="project-img">
          </div>
        </a>

        <h3>5MW Cypress Onshore Turbine</h3>
        <p>sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut dolor sit amet.</p>
      </div>

      <div class="projectDiv">

        <a href="/wind-turbines">
          <div class="project-img">
          </div>
        </a>

        <h3>Jin</h3>
        <p>sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut dolor sit amet.</p>
      </div>
      <!-- Map code here -->
    </section>

  </main>

</body>

</html>