/* /* a
img, embed, object, video {
max-width: 100%; }

/* cleaning up  */

*, *::before, *::after {
	box-sizing: inherit;
}

/*Fix for scaling of images IE*/

img {
	-ms-interpolation-mode: bicubic;
}

a {
	text-decoration: none;
}

/*hides from browser, shows in doc outliner */

.hidden {
	display: none;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	/* padding: 50px; */
	font-family: 'Playfair Display', serif;
}

p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: 1px;
	font-size: 0.75vw;
	color: #011638;
}

.landing-parent {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
}

.main-content {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 30%;
	height: 100vh;
}

.map-content {
	width: 100%;
	height: 100vh;
	background-color: rgb(207, 207, 207);
}

.network-content {
	width: 100%;
	height: 100vh;
	background-color: rgb(207, 207, 207);
}

/* main content for text in housed */

.main-detail {
	position: absolute;
	top: 0;
	left: 0;
	width: 20vw;
	height: 100vh;
	background-color: #f2f3f0;
	padding: 0px 30px 0px 30px;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
/* image dimensions */
.logo img{
	width: 100%;
	height: 100%;
}

.main-detail span {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 0.85vw;
}

.main-detail div {
	margin-top: 50px;
}

.main-detail div h3 {
	font-weight: 600;
	font-size: 2vw;
}

.main-detail div span {
	display: block;
	margin-top: 5px;
	margin-bottom: 15px;
}

.main-detail p {
	font-size: 0.95vw;
	line-height: 1.75vw;
}

.introduction-paragraph {
	margin-top: 30px;

}

#form-type {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0 auto;
	margin-top: 64vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.form-button {
	font-size: 0.95vw;
	text-align: center;
	background-color: rgb(188, 228, 255);
	padding: 5%;
	width: 50%;
}

.form-button:hover {
	background-color: rgb(87, 170, 224);
	cursor: pointer;
}

.nav-button {
	text-align: center;
	background-color: rgb(111, 195, 250);
	padding: 5%;
}

.nav-button:hover {
	background-color: rgb(14, 124, 187);
	cursor: pointer;
}

#individual-form-div {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1vw;
	letter-spacing: 1px;
	position: absolute;
	width: 64%;
	height: auto;
	visibility: visible;
	margin-top: 33px;
}

#individual-form-div input {
	width: 18vw;
	margin-bottom: 18px;
	padding: 6px;
}

#individual-form-btn {
	font-size: 0.95vw;
	background-color: rgb(14, 124, 187);
}

#organization-form-div {
	position: absolute;
	visibility: hidden;
	padding-top: 15px;
}

#submit-button{
	text-align: center;
	border-style: none;
	background-color:#47ce59;
}

label{
	margin-bottom: -12px;
    display: block;

}
